<html>
<head>
  <meta charset="utf-8" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Přidej svůj oblíbený recepis :) - MECantina&trade;</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="cardWrapper d-flex flex-center">
    <div class="col">
        {{ if not .Authenticated }}
        <div class="card">
          <div class="card-body">
            <p><strong>Zadej prosim kód, který ti měl poslat Tibi (Hledí na měsíc) :-)</strong></p>
            <div class="login-form">
            <form action="/login" method="POST">
                <div>
                  <input type="password" name="code" placeholder="Very secret code" required>
                </div>
                <br />
                <div>
                  <button type="submit">Přihlaš</button>
                </div>
            </form>
          </div>
          </div>
        </div>
        {{ else }}
        <div class="card">
          <div class="card-body">
            <a href="/recipes" class="text-link">&larr; Zpět na recepisy</a>
      <h3>Přidej svůj oblíbený recepis :)</h3>
      <h6>{{.Username}}</h6>
      <div class="login-form">
        <form method="POST" action="/add-recipe">
          <div>
            <label>Název recepisu</label>
          	<input type="text" name="title" placeholder="Název" />
          </div>
          <br />
          <div>
            <label>Poznámky, tipy</label>
            <textarea type="text" name="desc" placeholder="Poznámky, tipy" rows="5"></textarea>
          </div>
          <br />
          <div>
            <label>Odkaz na recepis (celý - včetně http://)</label>
            <input type="text" name="link" placeholder="Odkaz na recept" />
          </div>
          <br />
          <div>
            <label>Kategorie:</label>
            <select name="categoryId">
              <option value="1">Hlavní</option>
              <option value="2">Deserty</option>
              <option value="3">Polévky</option>
            </select>
          </div>
          <br />
          <button type="submit" name="_">Přidej</button>
        </form>
      </div>
      </div>
      </div>
      {{ end }}
    </div>
  </div>
</body>
</html>