<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Archivuj si svůj oblíbený recept - MECantina&trade;</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="manifest" href="/static/site.webmanifest" />
    <link rel="apple-touch-icon" href="/static/icon.png" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/static/style.css" />

    <meta name="theme-color" content="#fafafa" />
  </head>

  <body>
    <div class="applicationHome">
      <section id="packages">
        <div class="section-heading center">
          <h2 class="section-title">Recepty - odkazy</h2>
          <div>
            <a href="/recipes/moje" class="btn-primary show-more">Jen moje</a>
            <a href="/add-recipe" class="btn-primary show-more">Přidám recepis &rarr;</a>
          </div>
        </div>
        {{ if .Recipes }}
        <ol class="grid fixed-height">
          {{range .Recipes }}
          <li class="module">
            <span class="metadata">
              <a href="{{.Link}}" class="click-intercept"></a>
              <span class="title">
                {{.Title}}
                <span class="colon">:</span>
              </span>
              <p class="description">{{.Descr}}</p>
              <div class="stats">
                <span class="category">{{.Category}}</span> | {{.Author.Username}}
              </div>
            </span>
          </li>
          {{end}}
        </ol>
        {{else}}
        <div class="card">
          <div class="card-body">
          <p>Nepřidal jsi ještě žádný recepis :-(</p>
          <br />
          <a href="/add-recipe" class="text-link">Chci to napravit &rarr;</a>
        </div>
      </div>
      {{end}}
      </section>
    </div>
    <!--<script src="js/main.js"></script>-->
  </body>
</html>
